@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&family=Roboto:wght@100;500&display=swap');

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* TYPHOGRAPHY */
/*
font-family: 'Recursive',
sans-serif;
font-family: 'Roboto',
sans-serif;
*/

body {
    font-family: 'Recursive',
        sans-serif;
    font-size: 30px;
}

h3,
h4 {
    font-family: 'Roboto',
        sans-serif;
}

.sec_tit {
    text-align: center;
    color: #fff;
    padding-top: 60px;
}

/* COMMON */
.slide_btn {
    position: absolute;
    right: 30%;
    top: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.slide_btn.active {
    opacity: 1;
    visibility: visible;
}


.slide_btn span {
    color: #b9b9b9;
    display: block;
    position: absolute;
    z-index: 2;
}

.slide_btn span.prev {
    top: 7%;
    cursor: pointer;
}

.slide_btn span.next {
    bottom: 7%;
    cursor: pointer;
}

/* LAYOUT */
section {
    background-color: #919191 !important;
    height: 100vh;
    width: 100%;

}

/* NAV */
.nav_left {
    position: relative;
    z-index: 5;
}

.toggle {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 45px;
    height: 34px;
    display: inline-block;
    z-index: 10;
}

.toggle span {
    position: absolute;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    background: #a7a7a7;
    top: 0;
    transition: 0.2s;
}

.toggle span:nth-child(1) {
    top: 0;
}

.toggle span:nth-child(2),
.toggle span:nth-child(3) {
    top: 13px;
}

.toggle span:nth-child(4) {
    top: 26px;
}

.toggle.active {
    position: fixed;

}

.toggle.active span:nth-child(2) {
    transform: rotate(45deg);
    height: 5px;
    width: 90%;
    background: #b9b9b9;

}

.toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    height: 5px;
    width: 90%;
    background: #b9b9b9;

}

.toggle.active span:nth-child(1),
.toggle.active span:nth-child(4) {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        width: 0;
        opacity: 0.5;
    }

    100% {
        width: 350px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        width: 350px;
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 0.5;
    }
}




.nav_left nav {
    position: fixed;
    width: 0;
    height: 100vh;
    background: #fff;
    left: 0;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    transition: 1s;
    animation: fadeOut 0.4s forwards ease;

}

.nav_left nav.active {

    visibility: visible;
    animation: fadeIn 0.5s forwards ease;
    transition: 1s;

}


.nav_left nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nav_left nav ul li {
    width: 100%;
    height: 100px;
    transform: translateX(-200px);
    opacity: 0.5;
    transition: 0.3s;
}

.nav_left nav.active ul li {
    transform: translateX(0);
    opacity: 1;
}

.nav_left nav.active ul li:nth-child(1) {
    transition-delay: 0;
}

.nav_left nav.active ul li:nth-child(2) {
    transition-delay: 0.2s;
}

.nav_left nav.active ul li:nth-child(3) {
    transition-delay: 0.3s;
}

.nav_left nav.active ul li:nth-child(4) {
    transition-delay: 0.4s;
}

.nav_left nav ul li a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
    transition: 0.6s;

}

.nav_left nav ul li a:hover {
    background: #ddd;
    color: #fff;
}


/* HOME */
.home {
    position: relative;
    background: url(../images/yujin.png) no-repeat center bottom;
}

.home .main_ment {
    text-align: center;
    padding-top: 120px;
}

.home h3 {
    font-size: 80px;

    font-weight: bold;
    color: rgba(255, 255, 255, 0.7)
}

.home h4 {
    font-weight: 100;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7)
}

/* GALLERY */
.gallery {
    position: relative;
}

.gallery .gallery_list {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 150px auto 0;
}

.gallery .gallery_list li {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #6ab8f9;
    position: relative;
    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease-out;
    opacity: 0.8;
}

.gallery .gallery_list li:hover {
    transform: scale(1.2);
    opacity: 1;
    box-shadow: none;
}

.gallery .gallery_list li a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 180px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
}


.gallery .black_bg {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'MapoFlowerIsland';
    z-index: 10;
}

.gallery .black_bg.active {
    opacity: 1;
    visibility: visible;
}

.gallery .black_bg>div {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: none;
}

.gallery .black_bg>div.on {
    display: block;

}

.gallery .black_bg>div .desc {
    color: #fff;
    font-size: 19px;
    line-height: 40px;
}

a.go_site {
    color: #ddd;
    font-size: 18px;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 30%;
    bottom: -80px;
}


/* CONTACT */
.contact {
    position: relative;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 150px auto 0;
}

.icons>div {
    width: 140px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 7px 7px 21px rgba(0, 0, 0, 0.15);
}

.icons>div img {
    width: 100%;
    opacity: 1;
    transition: 0.7s;
}

.icons>div:hover img {
    opacity: 0;

}

.email a {
    width: 100%;
    height: 100%;
    display: block;
}

.icons>div .contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icons>div span {
    opacity: 0;
    transition: 0.7s;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

.icons>div:hover span {
    opacity: 1;

}


/* ETC */

.etc {
    perspective: 1000px;
}

.card_wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 160px auto 0;


}

.card {
    position: relative;
    width: 260px;
    height: 220px;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: 1s;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card .front,
.card .back {
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* 사파리 브라우저 호환 */
    backface-visibility: hidden;
}

.card .front {}

.card .front .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card .front .contents img {
    width: 55%;
    margin-bottom: 20px;
}

.card .front .contents span {
    font-size: 26px;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back a,
.card .back .contents {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-family: 'MapoFlowerIsland';
}

.card .back a img {
    width: 40%;
}

.card .back .contents {}

.card:hover {
    transform: rotateY(180deg);
}