@media (max-width: 768px) {

    /* tablet */
    .home h3 {
        font-size: 56px;
    }

    .home h4 {
        padding-right: 50px;
    }

    .gallery .gallery_list {
        flex-wrap: wrap;
        width: 52%;
        margin: 80px auto 0;
    }

    .gallery .gallery_list li {
        width: 140px;
        height: 140px;
        border-radius: 42%;
        margin: 20px 0;

    }

    .gallery .gallery_list li a {
        line-height: 140px;
        font-size: 22px;
    }

    .gallery .black_bg>div .desc {
        font-size: 17px;
    }


    .icons {
        width: 50%;
    }

    .icons>div {
        width: 120px;
        height: 120px;
    }

    .icons>div span {
        font-size: 20px;
    }

    .card_wrapper {
        width: 85%;
    }

    .card {
        width: 169px;
        height: 146px;
    }

    .card .front .contents span {
        font-size: 20px
    }

    .card .front .contents img {
        width: 49%;
        margin-bottom: 15px;
    }

    .card .back a,
    .card .back .contents {
        font-size: 16px;
    }

}

@media (max-width: 480px) {

    /* mobile */

    html,
    body {
        overflow: visible !important;
    }

    section.gallery {
        height: auto;
    }

    section.contact {
        height: 90vh;
    }

    section.etc {
        height: 107vh;
    }

    .slide_btn {
        opacity: 0 !important;
        display: none;

    }

    section.gallery {

        background: linear-gradient(to bottom, #919191 19%, #a2a2a2)
    }

    section.contact {
        background: linear-gradient(to bottom, #a2a2a2 19%, #b7b7b7)
    }

    section.etc {

        background: linear-gradient(to bottom, #b7b7b7 19%, #c3c3c3)
    }

    .sec_tit {
        font-size: 25px;
    }

    .home h4 {
        padding-right: 0;
        padding-top: 5px
    }

    .gallery .gallery_list {
        justify-content: center;
        margin: 0 auto;
    }

    .gallery .gallery_list li {
        width: 144px;
        height: 140px;
        border-radius: 50%;
        margin: 10px 0;
    }

    .gallery .gallery_list li:first-child {
        margin-top: 40px;
    }

    .gallery .gallery_list li a {
        line-height: 140px;
        font-size: 22px;
    }

    .gallery .black_bg>div {
        width: 80%;
        top: 37%;
    }


    .gallery .black_bg>div .desc {

        font-size: 17px;
        line-height: 34px;
        text-align: center;
    }


    .icons {
        width: 70%;
    }

    .card_wrapper {
        width: 50%;
        flex-wrap: wrap;
        margin: 50px auto;
        justify-content: center;
    }

    .card {
        margin: 10px 0;
        width: 180px;
    }



}